<html>
    <head>
        <style>
            .redacted {
                text-decoration: line-through;
            }
            .in_character {
                font-family: cursive;
            }
            .in_character td {
                font-family: monospace;
            }
        </style>
    </head>
    <body>
        <div class="out_of_character">
            <table>
                <tr><th>Name</th><td>{{Player Name}}</td></tr>
                <tr><th>Booked</th><td>{{Booked Upcoming Event?}}</td></tr>
                <tr><th>Choice of Pronoun</th><td>{{Preferred pronouns (OC)}}</td></tr>
            </table>
        </div>
        <hr>
        <div class="in_character">
            <h1>Record of Cabal Competencies, Vulnerabilities <span class="redacted">and Fealty</span>.</h1>
            <p class="redacted">Recorded in Accordance with Extra-ordinary Statute, QBVI-X-234</p>
            <table>
                <tr><th colspan="3"><h2>Basic Details</h2><th></tr>
                <tr><th>Name</th><td></td><td>{{Character Name}}</td></tr>
                <tr><th class="redacted">Fealty</th><td>Area of Habitation</td><td>{{Where are you from?}}</td></tr>
                <tr><th>Gender Description</th><td></td><td>{{Preferred pronouns (IC)}}</td></tr>
                <tr><th rowspan="4">Reportable Competencies</th><td></td><td>{{Skill 1}} {{If you picked Educated or Contacts for Skill 1, name what type they are.}}</td></tr>
                <tr><td></td><td>{{Skill 2}} {{If you picked Educated or Contacts for Skill 2, name what type they are.}}</td></tr>
                <tr><td></td><td>{{Skill 3}} {{If you picked Educated or Contacts for Skill 3, name what type they are.}}</td></tr>
                <tr><td></td><td>{{Skill 4}} {{If you picked Educated or Contacts for Skill 4, name what type they are.}}</td></tr>
                <tr><th colspan="3"><h2>Selection Notes</h2><th></tr>
                <tr><th>Why do you want to fight?</th><td></td><td>{{Why are you driven to defend others from the Nightmares?}}</td></tr>
                <tr><th rowspan="2">Describe your most recent experiences?</th><td>Revolutionary activities:</td><td>{{What did you do during the revolution?}}</td></tr>
                <tr><td>Routine occupation:</td><td>{{What were you doing before the Cabal recruited you?}}</td></tr>
                <tr><th>Which Cabal asset would you want to be responsible for?</th><td></td><td>{{My character's Asset is:}}</td></tr>
                <tr><th colspan="3"><h2>Field Observations</h2><th></tr>
                <tr><th colspan="3">This section is highly confidential.  Subjects themselves to remain unaware of our observations in this regard.<th></tr>
                <tr><th>Phobia(s)</th><td></td><td>{{What is your greatest fear?}}</td></tr>
                <tr><th>Observed Reliance(s)</th><td></td><td>{{Describe a bit more about whatever your character relies on.}}</td></tr>
                <tr><th>Temptation(s)</th><td></td><td>{{What is your greatest temptation?}}</td></tr>
                <tr><th>Excluded Behaviour(s)</th><td></td><td>{{I would never ....., because ........}}</td></tr>
                <tr><th>Guiding Behaviour(s)</th><td></td><td>{{I will always ……… , because ………}}</td></tr>
                <tr><th>Interpersonal Bond(s)</th><td></td><td>{{Bond}}</td></tr>
                <tr><th>Noteworthy Inventory</th><td></td><td>{{Flange Item}}</td></tr>
                <tr><th>Likely Stress Reactions</th><td>{{Default Stress Track}}</td></tr>
                <tr><th rowspan="2">Other Notes</th><td></td><td>{{Anything else you might want to tell us about your PC}}</td></tr>
                <tr><td></td><td>{{Other Notes}}</td></tr>
            </table>
        </div>
    </body>
</html>